<h1>Listening jobnames<h1>

<table class="table">
  <%= for jobname <- @jenkins do %>
    <tr>
      <td><b><%= jobname %></td>
      <td><%= link "View", to: "/jenkins/#{jobname}"%></td>
    </tr>
  <% end %>
</table>  
